body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0;
    padding:0;
    background-color:#0d131c;
    color:white;
    user-select: none;
}

#message-container {
    font-family: Arial;
    font-size: 1.5em;
    height: 1.5em;
    margin: 1.5em 0;
    width: 100%;
    text-align: center;
}

#reset-button {
    position: fixed;
    top: 1em;
    right: 1em;
}

#reset-button:hover {
    cursor: pointer;
}

#reset-button:focus {
    outline: none;
    box-shadow: none;
}

@keyframes fadeout {
    0% {
        opacity: 100%;
    }

    80% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.toast {
    opacity: 0%;
    animation: fadeout 3s;
}

